footer {
    background-color: $primaryDark;
    color: $primaryLight;
    @include primaryFont();
    font-size: 1rem;
    overflow: hidden;
}

.footerText {
    text-align: center;
    padding: 10px;
}
