header {
    background-color: $primaryDark;
    background-image: linear-gradient(to bottom, rgba(29, 30, 31, 0.52), rgba(33, 32, 33, 0.73)), url("../assets/Brenton_4copy.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $primaryLight;
    height: 100vh;
    @include centerFlex();
    div {
        @include centerFlex(); 
        flex-direction: column;
    }   h2 {
            @include primaryFont();
            font-size: 2.5rem;
        }   h1 {
                @include primaryFont();
                font-size: 4rem;
                padding: 30px;
            }      
}

header p {
    @include secondaryFont();
    font-size: 1.6rem;
}

header button {
    @include secondaryFont();
    background-color: $primaryLight;
    font-size: 1.6rem;
    padding: 10px 30px;
    border: none;
    margin-top: 40px;
    transition: 1s;
    cursor: pointer;
}

header button:hover {
    background-color: $primaryOrange;
    cursor: pointer;
}