html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, ul, h1, h2, h3, p, a, i {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

header {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 30, 31, 0.52)), to(rgba(33, 32, 33, 0.73))), url("../assets/Brenton_4copy.jpg");
  background-image: linear-gradient(to bottom, rgba(29, 30, 31, 0.52), rgba(33, 32, 33, 0.73)), url("../assets/Brenton_4copy.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #F7F7F7;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header h2 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 2.5rem;
}
header h1 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 4rem;
  padding: 30px;
}

header p {
  font-family: "Bree Serif", serif;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.6rem;
}

header button {
  font-family: "Bree Serif", serif;
  font-weight: 100;
  letter-spacing: 3px;
  background-color: #F7F7F7;
  font-size: 1.6rem;
  padding: 10px 30px;
  border: none;
  margin-top: 40px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

header button:hover {
  background-color: #F58840;
  cursor: pointer;
}

.topNav {
  background-color: #F7F7F7;
  color: #000000;
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  position: sticky;
  z-index: 100;
  top: 0px;
  border-bottom: 1px solid #ffffffbb;
  -webkit-box-shadow: 0px 15px 10px -15px #111;
          box-shadow: 0px 15px 10px -15px #111;
}
.topNav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  padding: 30px 0px;
}
.topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topNav a {
  font-size: 1.75rem;
  padding: 20px;
}
.topNav a:hover {
  color: #B85252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fa-bars {
  display: none;
}

.aboutMe {
  background-color: #F7F7F7;
  color: #000000;
  padding: 100px;
}
.aboutMe .aboutMeFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutMe img {
  width: 350px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  -webkit-filter: opacity(70%) grayscale(50%);
          filter: opacity(70%) grayscale(50%);
}

.aboutMeBox {
  margin-left: 40px;
  width: 50%;
}
.aboutMeBox h2 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 4rem;
}
.aboutMeBox h3 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 2.25rem;
  padding: 40px 0px;
}
.aboutMeBox p {
  font-family: "Bree Serif", serif;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.resume {
  font-family: "Bree Serif", serif;
  font-weight: 100;
  letter-spacing: 3px;
  background-color: #000000;
  color: #F7F7F7;
  font-size: 1.6rem;
  padding: 10px 30px;
  border: none;
  margin-top: 40px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.resume:hover {
  background-color: #F58840;
  color: #000000;
  cursor: pointer;
}

.skills {
  background-color: #F7F7F7;
  color: #000000;
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 2rem;
}
.skills h2 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 3.25rem;
  text-align: center;
  padding: 50px;
}
.skills h2 span {
  border-bottom: 2px solid #B85252;
}
.skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin: 0 auto;
  width: 60%;
}
.skills i {
  font-size: 7rem;
  padding: 50px 0px;
}

.skillItem {
  margin: 0 auto;
  position: relative;
}

.skillItem .front {
  top: 0;
  z-index: 900;
  -webkit-transform: rotate(0deg) rotateX(0deg);
          transform: rotate(0deg) rotateX(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.skillItem.flip .front {
  z-index: 900;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.skillItem .back {
  position: absolute;
  top: 75px;
  z-index: 800;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.skillItem.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
          transform: rotateX(0deg) rotateY(0deg);
  text-align: center;
}

.portfolio {
  background-color: #F7F7F7;
  color: #000000;
  padding-top: 50px;
}
.portfolio h2 {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 3.25rem;
  text-align: center;
  padding-bottom: 25px;
}
.portfolio h2 span {
  border-bottom: 2px solid #B85252;
}

.projectCarousel {
  height: 80vh;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.slide > .projectBox {
  width: 100%;
  height: 100%;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.carouselButton {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carouselButton:hover,
.carouselButton:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carouselButton:focus {
  outline: 1px solid black;
}

.carouselButton.prev {
  left: 1rem;
}

.carouselButton.next {
  right: 1rem;
}

.projectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectBox .previewBox {
  width: 500px;
  height: 400px;
  border: 6px solid #000000;
  border-radius: 5px;
}
.projectBox .previewBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectInfo {
  width: 40%;
  margin: 25px;
}
.projectInfo .title {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 2.7rem;
}
.projectInfo span {
  border-bottom: 2px solid #B85252;
}
.projectInfo .content {
  font-family: "Bree Serif", serif;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 1.6rem;
  padding: 25px 0px;
}

.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  font-size: 4rem;
}

.links {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 2rem;
  margin: 20px 0px;
}
.links a:hover {
  color: #B85252;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact {
  background-color: #000000;
  color: #F7F7F7;
  padding: 75px 0px;
}

.contactTitle {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 3rem;
  padding-bottom: 20px;
  text-align: center;
}

.contactLinks {
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.contactLinks > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-envelope-square, .fa-twitter, .fa-linkedin-in {
  font-size: 4rem;
  margin: 30px 0px;
}

.contactLinks > li > a:hover {
  color: #F58840;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.contactLinks > li > div {
  margin-left: 25px;
  font-size: 1.2rem;
}

.contactLinks > li > div:hover {
  color: #F58840;
  -webkit-transition: 500ms;
  transition: 500ms;
}

footer {
  background-color: #000000;
  color: #F7F7F7;
  font-family: "Nunito", sans-serif;
  letter-spacing: 4px;
  font-size: 1rem;
  height: 100%;
}

.footerText {
  text-align: center;
}

@media (max-width: 1250px) {
  .contactFlex form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFlex form textarea {
    margin-left: 10%;
    width: 80%;
    height: 60%;
  }

  form button {
    padding: 10px 30px;
    margin-top: 5%;
    margin-left: 10%;
  }
}
@media (max-width: 1200px) {
  .skills ul {
    width: 80%;
  }
}
@media (max-width: 1095px) {
  .aboutMeFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMeFlex .aboutMeBox {
    width: 100%;
    text-align: center;
    margin: 35px 0px;
  }

  .previewBox {
    width: 400px;
    height: 300px;
  }

  .projectInfo {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .skills ul {
    width: 100%;
  }

  .contact {
    padding: 100px 0px;
  }

  .contactTitle {
    text-align: center;
  }

  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contactLinks {
    margin: 20px 0px;
  }
}
@media (max-width: 968px) {
  .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px;
  }
  .projectBox .order {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .projectBox .order .orderTwo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .projectInfo {
    text-align: center;
  }
  .projectInfo .tools {
    margin: 0 auto;
  }
}
@media (max-width: 815px) {
  .topNav .navFlex .fa-bars {
    display: inline-block;
    font-size: 5rem;
  }
  .topNav .navFlex ul {
    display: none;
  }

  .topNav .navFlex .fa-bars, .topNav .navFlex:focus .fa-bars {
    display: inline-block;
    font-size: 5rem;
    position: relative;
  }
  .topNav .navFlex .dropdown, .topNav .navFlex:focus .dropdown {
    display: none;
  }
  .topNav .navFlex .dropdown.active, .topNav .navFlex:focus .dropdown.active {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    text-align: center;
    right: 50px;
    top: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .topNav .navFlex li, .topNav .navFlex:focus li {
    background-color: #000000;
    padding: 10px;
    color: #F7F7F7;
  }
  .topNav .navFlex li:hover, .topNav .navFlex li:focus, .topNav .navFlex:focus li:hover, .topNav .navFlex:focus li:focus {
    background-color: #F58840;
  }
  .topNav .navFlex li:hover a:hover, .topNav .navFlex li:hover a:focus, .topNav .navFlex li:focus a:hover, .topNav .navFlex li:focus a:focus, .topNav .navFlex:focus li:hover a:hover, .topNav .navFlex:focus li:hover a:focus, .topNav .navFlex:focus li:focus a:hover, .topNav .navFlex:focus li:focus a:focus {
    color: #F7F7F7;
  }
}
@media (max-width: 775px) {
  .skills ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 709px) {
  header h1 {
    padding: 30px 0px;
  }

  .projectBox {
    padding: 50px 0px;
  }

  .projectInfo {
    width: 80%;
    margin: 25px 0px;
  }

  .contactFlex form {
    width: 100%;
  }
}
@media (max-width: 659px) {
  footer {
    font-size: 1.5rem;
  }
}
@media (max-width: 642px) {
  header h1 {
    text-align: center;
  }

  header p {
    text-align: center;
  }

  .aboutMe {
    padding: 100px 25px;
  }
  .aboutMe .wrapper {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .projectBox .previewBox {
    width: 400px;
    height: 300px;
  }

  footer {
    font-size: 1rem;
  }

  .projectInfo {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .skills ul {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  .skills ul i {
    font-size: 10rem;
  }
}
@media (max-width: 435px) {
  .projectBox .previewBox {
    width: 300px;
    height: 275px;
  }

  .contactFlex form {
    padding: 5px;
  }

  footer {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .aboutMe img {
    width: 300px;
    height: 425px;
  }
}
@media (max-width: 385px) {
  .projectInfo .title {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  header h1 {
    font-size: 3rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  header p {
    font-size: 1.2rem;
  }

  .contactTitle {
    font-size: 2rem;
  }

  .contactLinks {
    margin-left: 0px;
  }
  .contactLinks li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .contactLinks i {
    font-size: 4rem;
    margin: 30px 0px;
  }
  .contactLinks a:hover {
    color: #F58840;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .contactLinks div {
    margin-left: 0px;
    font-size: 1.2rem;
  }
}